*{box-sizing:border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: #FFF6DC;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
    padding: 20px;
    line-height: 1.5;
}
#menu{
    width: 8.6%;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 5px #FFF6DC solid;
}
#menu nav ol {
    display: flex;
    flex-direction: column;
    list-style: none;
}
#menu nav ol li{
    padding-bottom: 60%;
    padding-top: 60%;
}
#menu nav ol li a{
    color: white;
    text-decoration: none;
}
#menu nav ol li a:hover{
    background-color: white;
    color: black;
    font-size: 16px;
    border-radius: 5px;
}
main{

    height: 66.66%;
    display: flex;
    flex-direction: row;
}
#general{
    width: 91.4%;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 5px #FFF6DC solid;
}
.renglones{
    display: flex;
    flex-direction: row;
}
.renglones article{
    width: 25%;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
#parte2{
    display: flex;
    flex-direction: row;
    
}
#parte2 .cuadros{
    width: 33.33%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border: white 4px solid;
}

#dos{
    display: flex;
    flex-direction: row;
}
footer section{
    width: 8.6%;
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 10px;
    padding: 10px;
    border: white 4px solid;
}
footer{
    display: flex;
    flex-direction: row;
}
footer nav{
    width: 91.4%;
    display: flex;
    flex-direction: row-reverse;
    float: right;
    margin: 10px;
    padding: 10px;
    border: white 4px solid;
}
footer nav #google{
    display: flex;
    flex-direction: row-reverse;
    width: 5%;
    text-decoration: none;
    color: white;
}
footer nav ol{
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    width: 95%;

}
footer nav ol li{
    padding-left: 7%;
}
footer nav ol li a{
    color: white;
    text-decoration: none;
}
footer nav ol li a:hover{
    background-color: white;
    color: black;
    font-size: 16px;
    border-radius: 5
    px;
}
#img1{
    height: 200px;
    background-image: url('../img/SilsonxHK.jpg');
    background-size: cover;
    border-radius: 15px;
    border: 5px white solid;
}
#grad1{
    height: 200px;
    background-color: rgb(48, 46, 46);
    background-image: linear-gradient(to bottom,rgb(48, 46, 46),white);
    border: solid 3px white;
    border-radius: 15px;
}
#img2{
    height: 200px;
    background-image: url('../img/Radiance.jpg');
    background-size: cover;
    border-radius: 15px;
    border: 5px white solid;
}
#grad2{
    height: 200px;
    background-color: black;
    background-image: linear-gradient(to top,black,gray);
    border: solid 3px white;
    border-radius: 15px;
}
#grad3{
    height: 200px;
    background-color: black;
    background-image: linear-gradient(to right,black,rgb(58, 57, 57));
    border: solid 3px white;
    border-radius: 15px;
}
#img4{
    height: 200px;
    background-image: url('../img/Radiance.jpg');
    background-size: cover;
    border-radius: 15px;
    border: 5px white solid;
}
#grad4{
    height: 200px;
    background-color: black;
    background-image: linear-gradient(to left,black,rgb(58, 57, 57));
    border: solid 3px white;
    border-radius: 15px;
}
#img3{
    height: 200px;
    border: solid 3px white;
    border-radius: 15px;
}
h1{
    font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
p{
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


